[submodule "saleor"]
	path = saleor
	url = https://github.com/genego-dev/saleor.git
	branch = develop
[submodule "saleor-storefront"]
	path = saleor-storefront
	url = https://github.com/genego-dev/saleor-storefront.git
	branch = develop
[submodule "saleor-dashboard"]
	path = saleor-dashboard
	url = https://github.com/genego-dev/saleor-dashboard.git
	branch = develop
